        {% extends 'main.html'%}
		{% load i18n %}
        
        {% block content %}
		<br>
		<style>
			.card {
				background-color: #f8f9fa;
				border-radius: 10px;
				box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
				padding: 20px;
			}
			
			
			
			.btn:hover {
				background-color: #0056b3;
				border-color: #0056b3;
			}
			
			.table {
				width: 100%;
				border-collapse: collapse;
				margin-top: 20px;
			}
			
			.table th,
			.table td {
				padding: 10px;
				text-align: left;
				border-bottom: 1px solid #dee2e6;
			}
			
			.table th {
				background-color: #f8f9fa;
				font-weight: bold;
			}
			
			.table tbody tr:nth-child(even) {
				background-color: #f2f2f2;
			}
			
			</style>
			
		<div class="row">
			
		
			<div class="col-md-8">
				<div class="card card-body">
					<h4><B>Informations</B></h4>
					<hr>
					<!-- <p> <B> Adamaoua: </B> {{region}} </p>
					<p> <B> Centre: </B> {{utilisateur.telephone}} </p>
					<p> <B> Est: </B> {{utilisateur.etablissement}} </p>
					<p> <B> Extreme-Nord: </B> {{region}} </p>
					<p> <B> Littoral: </B> {{utilisateur.telephone}} </p>
					<p> <B> Nord: </B> {{utilisateur.etablissement}} </p>
					<p> <B> Nord-Ouest: </B> {{utilisateur.etablissement}} </p>
					<p> <B> Ouest: </B> {{utilisateur.telephone}} </p>
					<p> <B> Sud: </B> {{region}} </p>
					<p> <B> Sud-Ouset: </B> {{utilisateur.telephone}} </p> -->
				</div>
			</div>
		
			<div class="col-md">
				<div class="div-util">
					<center><h3 style="color: white;"><B>{% trans 'Total des membres' %}</B></h3></center>
					<hr>
					<h3 style="text-align: center;padding: 10px; color: white;">{{total_membre}}</h3>
				</div>
			</div>
		</div>

		{% if user.is_authenticated %}
            {% if user.is_staff or is_point_focal %}
        <a class="btn btn-primary  btn-sm btn-block" href="{% url 'inscription' %}">
			<button class="btn btn-primary  mx-sm-3" type="submit">{% trans 'Inscrire un membre' %}</button>
			</a>
		    {% endif %}
		{% endif %}

		<br>
		<h3><B>{% trans 'Liste des membres' %}</h3></B>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<form method="get" style="display: flex; justify-content: space-between;">
			{{myFilter.form}}
			<button class="btn btn-primary  mx-sm-3" type="submit">{% trans 'Filtrer' %}</button>
		</form>
		</div>
	</div>

</div>
		
		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<table class="table table-sm">
						<tr>
							<th>{% trans 'Membre' %}</th>
							<th>{% trans 'Matricule' %}</th>
							<th>{% trans 'Region' %}</th>
							<th>{% trans 'Département' %}</th>
							<th>{% trans 'Etablissement' %}</th>
							<th>{% trans 'Discipline' %}</th>
							<th>{% trans 'Téléphone' %}</th>
							<th>{% trans 'Date de prise de service' %}</th>
							<th>{% trans "Date d'inscription" %}</th>
							<th>{% trans 'A jour' %}</th>
							<!-- <th>{% trans 'Actif' %}</th> -->
							{% if user.is_authenticated %}
                               {% if user.is_staff or is_point_focal %}
							<th>{% trans 'Mise à jour' %}</th>
							<th>{% trans 'Supprimer' %}</th>
							   {% endif %}
							{% endif %}
						</tr>
						{% for membre in membre %}
						<tr>
						   <td>{{membre.user}}</td>
						   <td>{{membre.matricule}}</td>
						   <td>{{membre.region}}</td>
						   <td>{{membre.departement}}</td>
						   <td>{{membre.etablissement}}</td>
						   <td>{{membre.discipline}}</td>
						   <td>{{membre.telephone}}</td>
						   <td>{{membre.dateService}}</td>
						   <td>{{membre.dateInscription}}</td>
					       <td>  {% if membre.etat %}
							{% if membre.etat.ecart is not None %}
								{% if membre.etat.ecart < 0 %}
									Pas à jour
								{% else %}
									À jour
								{% endif %}
							{% else %}
								Pas de données d'état
							{% endif %}
						{% else %}
							Pas d'état associé
						{% endif %}</td>
						   <!-- <td>{% if membre.actif %}{% trans 'Actif' %}{% else %}{% trans 'Pas actif' %}{% endif %}</td></td> -->
						   {% if user.is_authenticated %}
                               {% if user.is_staff or is_point_focal %}
						   <th><a class="btn btn-info" href="{% url 'modifier_membre' membre.id %}">{% trans 'Modifier' %}</a></th>
					       <th><a class="btn btn-danger" href="{% url 'supprimer_membre' membre.id %}">{% trans 'Supprimer' %}</a></th> 
						       {% endif %}
							{% endif %}
						</tr>
						{% endfor %}
		
					</table>
				</div>
			</div>
		</div>
		
        {% endblock %}
    
